<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Food Trucks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
  
  <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css"/>
 
  <style type="text/css">
    body {
      background-color: grey;
      padding-top: 90px;
      padding-bottom: 20px
    }

    #mapid { 
      height: 550px; 
      width: 70%;
      float: left;
      padding-left: 0.5cm
    }

    #formulaire {
      padding-left: 1cm;
      display: inline-block;
    }

    #header {
      background-color: black;
    }

    .myCluster {
      width: 32px;
      height: 32px;
      background-image: url("truck.png");
      text-align: center;
    }

  </style>
  
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <h1 style="color:white">Food Trucks et Stations Bixi</h1>
      </div>
    </div>
  </nav>

  <div id="main" class="container">
    <div>
      <div id="mapid"></div>
      <div id="formulaire" class="jumbotron" style="float:right">
        <div>
          <legend>Date début: </legend>
          <input type="text" id="dateDebut" placeholder="AAAA-MM-JJ" class="form-control" />
          <legend style="padding-top: 10px">Date fin: </legend>
          <input type="text" id="dateFin" placeholder="AAAA-MM-JJ" class="form-control"/>
        </div>
        <div style="padding-top:15px">
          <button id="bouton" class="btn btn-primary">Rechercher</button>
        </div>
        <div style="width:225px;word-wrap:break-word">
        <p id="nbr" style="padding-top: 1cm"></p>
        </div>
       </div>
      </div>
  </div>


  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
 
  <script src="js/main.js"></script>
</body>
</html>
